@model ShopGame.Service.Model.MasterDataModel

    <script>
        function uploadfile() {

            //var formData = new FormData();
            //formData.append('file', $('#fileImage')[0].files[0]);

            var formData = new FormData();
            var file = $('#fileImage')[0].files[0];

            formData.append('file', file)
            $.ajax({
                url: 'masterdata/UploadImage',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (res) {
                    if (res) {
                        swal("Thành công!", "Cập nhật dữ liệu thành công!", "success");
                        RefreshForm();
                        GetDataToTable(urlGetData);
                    }
                    else {
                        swal("Không thành công!", "Cập nhật dữ liệu không thành công!", "warning");
                    }
                }
            });

        }
        function uploadBackGround() {

            //var formData = new FormData();
            //formData.append('file', $('#fileImage')[0].files[0]);

            var formData = new FormData();
            var file = $('#fileImage')[0].files[0];

            formData.append('file', file)
            $.ajax({
                url: 'masterdata/UploadBackGround',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (res) {
                    if (res) {
                        swal("Thành công!", "Cập nhật dữ liệu thành công!", "success");
                        RefreshForm();
                        GetDataToTable(urlGetData);
                    }
                    else {
                        swal("Không thành công!", "Cập nhật dữ liệu không thành công!", "warning");
                    }
                }
            });

        }
    </script>
<div class="collapse border show objInfor">
    <form class="form-input">
        <div class="alert-danger mb-3 admins-h2 btn-red">
            MASTER DATA
        </div>
        <div class="form-group mb-3" hidden>
            <input type="number" name="Id" class="form-control" id="Id" value="@Model.Id">
        </div>

        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Nội dung</label>
            <input type="text" name="Name" class="form-control validation" id="Name" value="@Model.Name">
            <div class="text-danger"></div>
        </div>
        @if (Model.Id == 4 || Model.Id == 5)
        {
            <div class=" form-group mb-3">
                <h6 class="input-group-text">@Model.Name</h6>
                <input type="hidden" name="Value" value="@Model.Value" id="Value" />
                <input type="file" id="fileImage" class="d-none" onchange="ChooseFile(this)" />
                <img src="@Model.Value" id="image" onclick="OpenFile(this)" class="img-size" alt="Cập nhật" style="object-fit:cover" />
                <div class="text-danger"></div>
            </div>
        }
        else
        {
            <div class="form-group mb-3">
                <label class="font-weight-bold mb-1">Nội dung</label>
                <input type="text" name="Value" class="form-control validation" id="Value" value="@Model.Value">
                <div class="text-danger"></div>
            </div>
        }

        <div class="row">
            <div class="col-md-12 text-right mr-0 pr-0 mt-1 mb-0 modal-footer">
                <button type="button" class="btn btn btn-red btnCancel" onclick="RefreshForm()"><i class="fas fa-reply-all"></i> Nhập lại</button>
                @if (Model.Id == 4)
                {
                    <button type="button" class="btn btn-green btnSave" data-id="0" onclick="uploadfile()"> <i class="far fa-save"></i> Ghi lại</button>
                } @if (Model.Id == 5)
                {
                    <button type="button" class="btn btn-green btnSave" data-id="0" onclick="uploadBackGround()"> <i class="far fa-save"></i> Ghi lại</button>
                }
                else
                {
                    <button type="button" class="btn btn-green btnSave" data-id="0" onclick="AddOrUpdate('/Admin/masterdata/AddOrUpdate')"> <i class="far fa-save"></i> Ghi lại</button>
                }
            </div>
        </div>
    </form>
</div>
