@model UI.Models.MenuModel
@inject Utilities.IUrlBuilder _urlBuilder


@*    <a href="javascript:void(0)" title="tag" class="@(Model.IsHome ? " header__nav--active" : "") header__nav--item">
        <img src="/images/icon_home.svg" class="header__nav--item__img" id="home">
    </a>


@if (Model.Menu != null)
{
    foreach (var item in Model.Menu)
    {
        if (item.isactive && item.position.Contains("header"))
        {
            <a class="header__nav--item @(item.isactivemenu ? "header__nav--active" : "")" href=" @item.url" title="@item.title">
                <p class="header__nav--item__link"> @item.title</p>
            </a>
        }
    }*@
}
@*
 <a href="javascript:void(0)" title="tag" class="header__nav--item header__nav--active">
            <img src="~/images/icon_home_active.svg" class="header__nav--item__img">
        </a>
        <a href="javascript:void(0)" title="tag" class="header__nav--item">
            <p class="header__nav--item__link">THỜI SỰ</p>
        </a>
        <a href="javascript:void(0)" title="tag" class="header__nav--item">
            <p class="header__nav--item__link">TÀI CHÍNH</p>
        </a>
        <a href="javascript:void(0)" title="tag" class="header__nav--item">
            <p class="header__nav--item__link">CHỨNG KHOÁN</p>
        </a>
        <a href="javascript:void(0)" title="tag" class="header__nav--item">
            <p class="header__nav--item__link">BẤT ĐỘNG SẢN</p>
        </a>
        <a href="javascript:void(0)" title="tag" class="header__nav--item">
            <p class="header__nav--item__link">DOANH NGHIỆP</p>
        </a>
        <a href="javascript:void(0)" title="tag" class="header__nav--item">
            <p class="header__nav--item__link">HI-TECH</p>
        </a>
        <a href="javascript:void(0)" title="tag" class="header__nav--item">
            <p class="header__nav--item__link">COOPERATIVE</p>
        </a>
        <a href="javascript:void(0)" title="tag" class="header__nav--item">
            <p class="header__nav--item__link">STARTUP</p>
        </a>
        <a href="javascript:void(0)" title="tag" class="header__nav--item">
            <p class="header__nav--item__link">SỐNG</p>
        </a>*@