@model NidasShoes.Service.Model.NidasShoesResultModel<NidasShoes.Service.Model.ProductModel>
@{
    var data = Model.Results;
    var pageSize = Model.PageSize;
    var pageNumber = Model.PageNumber;
    var pageCount = Model.PageCount;
    var types = ViewBag.BlogTypes;
}
@section Scripts{
<script>

    function ChangePageNumber() {
        $('.pagination li a').on('click', function (e) {
            let val = $(this).attr('data-index')??"";
            let search = $("#search-product").val();
            submitData.pageNumber = val;
            location.href = "/product?pageNumber=" + val + "&search=" + search;
        })
    }
    ChangePageNumber();


</script>

}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="index.html">Trang chủ</a></span> / <span>Toàn bộ sản phảm</span></p>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs-two">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs-img" style="background-image: url(/images/cover-img-1.jpg);">
                    <h2>Shoes</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Toàn bộ sản phẩm</h2>
            </div>
        </div>
        <div class="row row-pb-md">
            @foreach (var item in data)
            {
                <div class="col-md-3 col-lg-3 mb-4 text-center">
                    <div class="product-entry border">
                        <a href="#" class="prod-img">
                            <img src="@item.Image" class="img-fluid" alt="@item.Name">
                        </a>
                        <div class="desc">
                            <h2><a href="#">@item.Name</a></h2>
                            <span class="price">@item.ExportPrice.ToString("000,0")</span>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
             <div class="pagination-container block-27">
                <ul class="pagination">
                    @if (pageCount <= 4)
                    {
                        for (int index = 1; index <= pageCount; index++)
                        {
                            if (index == pageNumber)
                            {
                                <li class="active"><a data-index="@index">@index</a></li>
                            }
                            else
                            {
                                <li><a data-index="@index">@index</a></li>
                            }
                        }
                    }
                    else
                    {
                        if (pageNumber <= 2)
                        {
                            for (int index = 1; index <= 4; index++)
                            {
                                if (index == pageNumber)
                                {
                                    <li class="active"><a data-index="@index">@index</a></li>
                                }
                                else
                                {
                                    <li><a data-index="@index">@index</a></li>
                                }
                            }
                            <li><a class="nextPage" data-index="@pageCount"><i class="ion-ios-arrow-forward"></i></a></li>
                        }
                        else if (pageNumber >= pageCount - 2)
                        {
                            <li><a class="prevPage" data-index="1"><i class="ion-ios-arrow-back"></i></a></li>

                            for (int index = pageCount - 3; index <= pageCount; index++)
                            {
                                if (index == pageNumber)
                                {
                                    <li class="active"><a data-index="@index">@index</a></li>
                                }
                                else
                                {
                                    <li><a data-index="@index">@index</a></li>
                                }
                            }
                        }
                        else
                        {
                            <li><a class="prevPage" data-index="1"><i class="ion-ios-arrow-back"></i></a></li>
                            for (int index = pageNumber - 1; index <= pageNumber + 2; index++)
                            {
                                if (index == pageNumber)
                                {
                                    <li class="active"><a data-index="@index">@index</a></li>
                                }
                                else
                                {
                                    <li><a data-index="@index">@index</a></li>
                                }
                            }
                            <li><a class="nextPage" data-index="@pageCount"><i class="ion-ios-arrow-forward"></i></a></li>
                        }
                    }

                </ul>
            </div>
         </div>
        </div>
    </div>
</div>

