@using NidasShoes.Service.Model
@{
    ViewData["Title"] = "Tìm kiếm sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var ListColor = (NidasShoesResultModel<ColorModel>)ViewBag.ListColor;
    var ListSize = (NidasShoesResultModel<SizeModel>)ViewBag.ListSize;
    var ListProductCategory = (NidasShoesResultModel<ProductCategoryModel>)ViewBag.ListProductCategory;
}
@section Scripts{
<script src="~/js/controllers/ProductSearching.js"></script>
}
<style>
    .pc-hover span.active, .pc-hover span:hover {
        background: #616161;
        color: #fff;
        cursor:pointer;
        padding:8px 12px;

    }

    .pc-hover span.active a, .pc-hover span:hover a {
        background: #616161;
        color: #fff;
        cursor:pointer;
        padding:8px 12px;
    }

    .pc-hover .active a {
        background: #616161;
        color: #fff;
        cursor:pointer;
        padding:8px 12px;
    }
</style>
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="/">Trang chủ</a></span> / <span>Tìm kiếm sản phẩm</span></p>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs-two">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs-img" style="background-image: url(/images/cover-img-1.jpg);">
                    <h2>Tìm kiếm sản phẩm</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>Loại sản phẩm</h3>
                            <ul id="productCategory">
                                @foreach (var item in ListProductCategory.Results)
                                {
                                    <li data-id="@item.ID" class="pc-hover"><span href="#" >@item.Name</span></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>Cỡ giày/ Màu</h3>
                            <div class="block-26 mb-2">
                                <h4>Size</h4>
                                <ul id="productSize">
                                    @foreach (var item in ListSize.Results)
                                    {
                                        <li data-id="@item.ID"><span>@item.Name</span></li>
                                    }
                                </ul>
                            </div>
                            <div class="block-26">
                                <h4>Màu</h4>
                                <ul id="productColor">
                                    @foreach (var item in ListColor.Results)
                                    {
                                        <li  data-id="@item.ID"><span>@item.Name</span></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xl-9">
                <div id="productSearchBody" class="row row-pb-md">
                   @*data do ra day*@
                  
                </div>
         @*       <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#"><i class="ion-ios-arrow-back"></i></a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>



<script id="tplProductSearch" type="x-tmpl-mustache">
    <div class="col-lg-4 mb-4 text-center">
    <div class="product-entry border">
        <a href="Product/Detail?{{Id}}" class="prod-img">
            <img src="{{Image}}" class="img-fluid" alt="{{Name}}">
        </a>
        <div class="desc">
            <h2><a href="Product/Detail?{{Id}}">{{Name}}</a></h2>
            <span class="price">{{Price}}</span>
        </div>
    </div>
</div>
</script>