@model NidasShoes.Service.Model.SupplyModel
<div class="collapse border show objInfor">
    <form class="form-input">
        <div class="alert-danger mb-3 admins-h2 btn-red">
            THÔNG TIN NHÀ CUNG CẤP
        </div>
        <div class="form-group mb-3" hidden>
            <input type="number" name="Id" class="form-control" id="Id" value="@Model.ID">
        </div>

        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Nhà Cung Cấp</label>
            <input type="text" name="Name" class="form-control validation" id="Name" value="@Model.Name">
            <div class="text-danger"></div>
        </div>
          <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Số điện thoại</label>
            <input type="text" name="Phone" class="form-control validation" id="Phone" value="@Model.Phone">
            <div class="text-danger"></div>
        </div>
          <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Địa chỉ</label>
            <input type="text" name="Address" class="form-control " id="Address" value="@Model.Address">
            <div class="text-danger"></div>
        </div>
          <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Mô tả</label>
            <input type="text" name="Description" class="form-control " id="Description" value="@Model.Description">
            <div class="text-danger"></div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right mr-0 pr-0 mt-1 mb-0 modal-footer">
                <button type="button" class="btn btn btn-red btnCancel" onclick="RefreshForm()"><i class="fas fa-reply-all"></i> Nhập lại</button>
                <button type="button" class="btn btn-green btnSave" data-id="0" onclick="AddOrUpdate('/Admin/Supply/AddOrUpdate')"> <i class="far fa-save"></i> Ghi lại</button>
            </div>
        </div>
    </form>
</div>
