@model ShopGame.Service.Model.SlideModel
<div class="collapse border show objInfor">
    <form class="form-input">
        <div class="alert-danger mb-3 admins-h2 btn-red">
            THÔNG TIN DANH MỤC SLIDE
        </div>
        <div class="form-group mb-3" hidden>
            <input type="number" name="Id" class="form-control" id="Id" value="@Model.Id">
        </div>

        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Thứ tự hiển thị</label>
            <input type="text" name="DisplayOrder" class="form-control validation" id="name" value="@Model.DisplayOrder">
            <div class="text-danger"></div>
        </div>

        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Link</label>
            <input type="text" name="Link" class="form-control validation" value="@Model.Link">
            <div class="text-danger"></div>
        </div>

        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Mô tả</label>
            <input type="text" name="Description" class="form-control validation" value="@Model.Description">
            <div class="text-danger"></div>
        </div>

        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Hình ảnh</label>
            @if (String.IsNullOrEmpty(Model.Image))
            {
                <img src="/Admin/Content/images/no-image-available-thumb(1349x760-crop).jpg" id="image" style="object-fit:contain;width:100%" alt="Alternate Text" onclick="OpenFile(this)" />
            }
            else
            {
                <img src="@Model.Image" id="image" style="object-fit:contain;width:100%" alt="Alternate Text" onclick="OpenFile(this)" />
            }
            <input type="file" name="FileUpload" id="fileImage" class="form-control d-none" onchange="ChooseFile(this)">
            <input type="text" name="Image" class="form-control d-none" value="@Model.Image">
            <div class="text-danger"></div>
        </div>

        <div class="form-group">
            <label class="font-weight-bold mr-2">Trạng thái </label>
            <input type="radio" name="Status" value="true" id="s1" @if (Model.Status == true) { <text> checked</text> } /><label class="ml-2 mr-5" for="s1">Hiển thị</label>
            <input type="radio" name="Status" value="false" id="s2" @if (Model.Status != true) { <text> checked</text> } /><label class="ml-2" for="s2">Lưu tạm</label>
        </div>

        <div class="row">
            <div class="col-md-12 text-right mr-0 pr-0 mt-1 mb-0 modal-footer">
                <button type="button" class="btn btn btn-red btnCancel" onclick="RefreshForm()"><i class="fas fa-reply-all"></i> Nhập lại</button>
                <button type="button" class="btn btn-green btnSave" data-id="0" onclick="AddOrUpdateWithFile('/Admin/Slide/AddOrUpdate')"> <i class="far fa-save"></i> Ghi lại</button>
            </div>
        </div>
    </form>
</div>
