@model ShopGame.Service.Model.ViewModel.SkinViewModel
@{
    var step = ViewBag.Step;
}

@{
ViewData["Title"] = "mua skin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="product-2-detail" class="py-5">
    <div class="container bg-container p-3">
        <div class="box-login-client">
            <div class="box-payment-client">
                <div class="login-box-body-header">
                    <h2 style="color:#35d4dc" class=" mb-5">
                        @Model.SkinCategoryName
                    </h2>
                </div>
                <form action="#">
                    <div class="form-group">
                        <input class="form-control" id="name-account" type="text" placeholder="Điền tênnhânvật#id">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="" value="@Model.Name" disabled>
                    </div>
                    <div class="form-group text-center text-light">
                        @Html.Raw(@step.Content)
                    </div>
                    <div class="form-group">
                        <input id="agree-add-friend" type="checkbox"> <label for="agree-add-friend">Tôi đã gửi kết bạn với các nick trên</label>
                    </div>
                    <div class="form-group">
                        <p style="margin: 0 auto; display:block; font-weight: bold" class="btn btn-danger w-25 px-3 py-2 btn-block">Tổng: @Model.Price.ToString(" 000,0") <sup>đ</sup></p>
                        <p id="modal-authen" style="margin: 0 auto; display:block;font-weight: bold" class="btn w-25 px-3 py-2 mt-3 btn-info  btn-block">MUA NGAY</p>
                    </div>

                    <!-- if agree true -->
                    <div class="modal fade" id="modal-authen-true" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered " role="document">
                            <div class="modal-content text-center">
                                <div class="modal-image mt-4">
                                    <img style="width: 6rem;" src="./images/check1.png" alt="">
                                </div>
                                <div class="modal-body">
                                    <h5 class="modal-title">Bạn có chắc chắn mua?</h5>
                                    <p>Bạn có chắc chắn mua với giá @Model.Price.ToString(" 000,0")<sup>đ</sup>!</p>
                                </div>
                                <div class="pb-3">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                    <button type="button" class="btn btn-danger btn-buy" data-id="@Model.Id">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<!-- if agree false -->
<div class="modal fade" id="modal-authen-false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5 class="modal-title pb-3 n-blue-color">Thông báo</h5>
                <p class="pb-4">Vui lòng xác nhận đã gửi kết bạn với các nick trên</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- if name false -->
<div class="modal fade" id="modal-authen-name" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5 class="modal-title pb-3 n-blue-color">Thông báo</h5>
                <p class="pb-4">Vui lòng nhập đủ các thông tin yêu cầu.</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('.btn-buy').click(function () {
            let Id = $(this).attr('data-id');
            let Name = $('#name-account').val();
            if (Name == '') {
                alert("bạn chưa điền tên nhân vật");
                return;
            }
            $.ajax({
                url: '/Skin/Buy',
                dataType: 'json',
                type: 'post',
                data: {
                    Id: Id,
                    Name: Name
                },
                success: function (res) {
                    if (res == 0) {
                        toastr["warning"]("Tiền của bạn không đủ");
                    }
                    else if (res == 2) {
                        toastr["warning"]("Tài khoản đã có người mua");
                    }
                    else if (res == 1) {
                        toastr["success"]("Giao dịch thành công, kiểm tra tại lịch sử giao dịch")
                        $("#modal-authen-true").modal('hide');
                        loadpage();
                    }
                    else if (res == -1) {
                        alert("đăng nhập để sử dụng tính năng này !!");
                    }
                },
                error: function () {

                },
                complete: function () {

                }
            })
        })
    </script>
}