@using NidasShoes.Service.Model
@model List<NidasShoes.Service.Model.CartViewModel>
@{
    var checkUser = (bool)ViewBag.CheckUser;
    var totalPrice = 0.0;
    var discount = new DiscountModel();

    foreach (var i in Model)
    {
        totalPrice += i.Quantity * i.Product.ExportPrice;
    }
    if (ViewBag.discoutSession != null)
    {
        discount = (DiscountModel)ViewBag.discoutSession;

        totalPrice = totalPrice * (double)((100-(double)discount.Rate)/100);
    }
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="/">Trang chủ</a></span> / <span>Checkout</span></p>
            </div>
        </div>
    </div>
</div>


<div class="">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-sm-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span>01</span></p>
                        <h3>Shopping Cart</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span>02</span></p>
                        <h3>Checkout</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>03</span></p>
                        <h3>Order Complete</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <form class="colorlib-form">
                    <h2>Thông tin người nhận</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtName">Họ và tên</label>
                                <input type="text" id="txtName" class="form-control" placeholder="Họ tên">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtAddress">Địa chỉ</label>
                                <input type="text" id="txtAddress" class="form-control" placeholder="Địa chỉ">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtEmail">Email</label>
                                <input type="text" id="txtEmail" class="form-control" placeholder="Email">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtPhone">Số điện thoại</label>
                                <input type="text" id="txtPhone" class="form-control" placeholder="Số điện thoại">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtMessage">Ghi chú</label>
                                <textarea id="txtMessage" class="form-control" placeholder="Message" rows="3"></textarea>
                            </div>
                        </div>
                        @if (checkUser)
                        {
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><input type="checkbox" id="chkUserLogInfo">&nbsp; Sử dụng thông tin đăng nhập </label>
                                    @*<label><input type="radio" name="optradio"> Ship to different address</label>*@
                                </div>
                            </div>
                        }

                    </div>
                </form>
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cart-detail">
                            <h2>Chi tiết giỏ hàng</h2>
                            <ul>
                                <li>
                                    <ul>
                                        @foreach (var item in Model)
                                        {
                                            <li class="d-flex"><span>@item.Quantity x @item.Product.Name</span> <span>@((item.Quantity*item.Product.ExportPrice).ToString("0,000"))</span></li>
                                        }
                                    </ul>
                                </li>
                                @if(discount.Rate !=0){
                                    <li class="d-flex"><span>Giảm</span> <span class="asdg">@(discount.Rate)%</span></li>
                                }else{
                                     <li class="d-flex"><span>Giảm</span> <span class="asdg">0</span></li>
                                }
                                <li class="d-flex"><span>Tổng tiền</span> <span class="lblTotalOrder">@(totalPrice.ToString("0,000"))</span></li>
                               
                            </ul>
                        </div>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-md-12">
                        <div class="cart-detail">
                            <h2>Phương thức thanh toán</h2>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input value="1" type="radio" name="paymentMethod">&nbsp;Thanh toán khi nhận đơn</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input value="2" type="radio" name="paymentMethod">&nbsp;MoMo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input value="3" type="radio" name="paymentMethod">&nbsp;VNPay</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input id="agreeCheckCard" type="checkbox" value="Tôi đã đọc và chấp nhận các điều khoản và điều kiện">Xác nhận các thông tin trên đều là chính xác</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p><a href="#" id="btnCreateOrder" class="btn btn-primary">Thanh toán</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <input class="d-none" id="txtTotalCost" value="@totalPrice" type="text" />