@model NidasShoes.Service.Model.DiscountModel
<div class="collapse border show objInfor">
    <form class="form-input">
        <div class="alert-danger mb-3 admins-h2 btn-red">
            THÔNG TIN MÃ GIẢM GIÁ
        </div>
        <div class="form-group mb-3" hidden>
            <input type="number" name="Id" class="form-control" id="Id" value="@Model.ID">
        </div>

        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Mã code</label>
            <input type="text" name="Code" class="form-control validation" id="Code" value="@Model.Code">
            <div class="text-danger"></div>
        </div>
          <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Ngày bắt đầu</label>
            <input type="datetime-local" name="StartDate" class="form-control validation" id="StartDate" value="@Model.StartDate.ToString("yyyy-MM-ddThh:mm")">
            <div class="text-danger"></div>
        </div>
          <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Ngày kết thúc</label>
            <input type="datetime-local" name="EndDate" class="form-control validation" id="EndDate" value="@Model.EndDate.ToString("yyyy-MM-ddThh:mm")">
            <div class="text-danger"></div>
        </div>
        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Chiết khấu(%)</label>
            <input type="text" name="Rate" class="form-control validation" id="Rate" value="@Model.Rate">
            <div class="text-danger"></div>
        </div>
          <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Mô tả</label>
            <input type="text" name="Description" class="form-control " id="Description" value="@Model.Description">
            <div class="text-danger"></div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right mr-0 pr-0 mt-1 mb-0 modal-footer">
                <button type="button" class="btn btn btn-red btnCancel" onclick="RefreshForm()"><i class="fas fa-reply-all"></i> Nhập lại</button>
                <button type="button" class="btn btn-green btnSave" data-id="0" onclick="AddOrUpdate('/Admin/Discount/AddOrUpdate')"> <i class="far fa-save"></i> Ghi lại</button>
            </div>
        </div>
    </form>
</div>
