@model ShopGame.Service.Model.ViewModel.ProductViewModel
@{

    var Images = ViewBag.Images;

}
@{
    ViewData["Title"] = "Mua acount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="product-detail-header">
    <div class="container bg-container mt-3 p-3">
        <div class="row" style="color: #fff">
            <div class="col-12 col-lg-4 text-center text-lg-left">
                <h4>#@Model.Id</h4>
                <p >@Model.CategoryName</p>
                <img class="d-lg-none w-100" src="@Model.Image" alt="">
            </div>
            <div class="col-12 col-lg-8 text-center text-lg-left ">
                <div class="row">
                    <div class="col-lg-6 text-md-center">
                        <h2>@(Math.Round(Model.Price/70*100).ToString(" 000,0")) CARD</h2>
                        <h2>@Model.Price.ToString(" 000,0") ATM</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-right d-flex flex-wrap justify-content-between justify-content-lg-end">
                            <button class="mb-1 mr-lg-1 btn btn-primary" @*data-id="@Model.Id"*@ data-toggle="modal" data-target="#buyNow">MUA NGAY</button>
                            <button class="mb-1 mr-lg-1 btn btn-success" onclick="showAtmModal()">ATM - VÍ ĐIỆN TỬ</button>
                            <a class="mb-1 mr-lg-1 btn btn-success" href="/napthe">NẠP THẺ CÀO</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="n-content-divider"></div>
                <div class="row">
                    <div class="col-md-4">RANK: <span class="text-danger">@Model.Rank</span></div>
                    <div class="col-md-4">LOẠI TK: <span class="text-danger">@Model.LoaiTaiKhoan</span></div>
                    <div class="col-md-4">SỐ TƯỚNG: <span class="text-danger">@Model.SoTuong</span></div>
                    <div class="col-md-4">SỐ TRANG PHỤC: <span class="text-danger">@Model.SoTrangPhuc</span></div>
                    <div class="col-md-4">NỔI BẬT: <span class="text-danger">@Model.NoiBat</span></div>
                </div>
                <div class="n-content-divider"></div>
            </div>
        </div>
    </div>
</section>
<!-- blog-list -->
<section id="product-detail-images" class="py-5">
    <div class="container bg-container">
        @foreach (var item in Images)
        {
            <div class="box-product-detail-image">
                <img class="" src="@item.Image" alt="">
            </div>
        }
    </div>
</section>

<div class="modal fade" id="buyNow" tabindex="-1" role="dialog" aria-labelledby="buyNowLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="buyNowLabel">Xác nhận mua tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item n-box-btn-nav">
                        <a class="nav-link active n-btn-nav" id="pay-tab" data-toggle="pill" href="#pay"
                           role="tab" aria-controls="pay" aria-selected="true">Thanh toán</a>
                    </li>
                    <li class="nav-item n-box-btn-nav">
                        <a class="nav-link n-btn-nav" id="account-tab" data-toggle="pill" href="#account" role="tab"
                           aria-controls="account" aria-selected="false">Tài khoản</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pay" role="tabpanel" aria-labelledby="pay-tab">
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        <span class="text-danger">
                                            Thông tin tài khoản #@Model.Id
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @*<tr>
                                    <td>Nhà phát hành:</td>
                                    <td>@Model.</td>
                                </tr>*@
                                <tr>
                                    <td>Tên game:</td>
                                    <td>@Model.CategoryName</td>
                                </tr>
                                <tr>
                                    <td>Giá tiền:</td>
                                    <td>@Model.Price.ToString(" 000,0") <sup>đ</sup></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        <span class="text-danger">
                                            Chi tiết tài khoản #@Model.Id
                                            </span>
                                    </th>
                                </tr>


                            </thead>
                            <tbody>
                                <tr>
                                    <td>Rank:</td>
                                    <th>@Model.Rank</th>
                                </tr>
                                <tr>
                                    <td>Loại TK</td>
                                    <td>@Model.LoaiTaiKhoan</td>
                                </tr>
                                <tr>
                                    <td>Số tướng:</td>
                                    <td>@Model.SoTuong</td>
                                </tr>
                                <tr>
                                    <td>Số trang phục:</td>
                                    <td>@Model.SoTrangPhuc</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="box-buyNow-content">
                        <form action="">
                            @*<p>Mã giảm giá</p>
        <input class="form-control" type="text" placeholder="Mã giảm giá">
        <i style="font-size: 0.8rem;">nhập mã giảm giá để nhận ưu đãi</i>*@
                            <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary btn-buy" data-id="@Model.Id" data-toggle="modal" >Xác nhận mua</button>

                            </div>
                            @*<p class="text-danger text-center">Bạn không đủ số dư để mua tài khoản này. Bạn hãy click vào nút nạp thẻ để nạp thêm và mua tài khoản.</p>*@
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">NẠP THẺ CÀO</a>
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal" onclick="showAtmModal()">NẠP TỪ ATM - VÍ ĐIỆN TỬ</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Đóng</button>

                </div>
            </div>
        </div>
    </div>
</div>  


@section Scripts{ 
    <script>
        $('.btn-buy').click(function () {
            let Id = $(this).attr('data-id');
            //console.log(Id);
            $.ajax({
                url: '/Product/Buy',
                dataType: 'json',
                type: 'post',
                data: {
                    Id: Id
                },
                success: function (res) {
                    if (res == 0) {
                        toastr["warning"]("Tiền của bạn không đủ");
                    }
                    else if (res == 2) {
                        toastr["warning"]("Tài khoản đã có người mua");
                    }
                    else if (res == 1) {
                        toastr["success"]("Giao dịch thành công, kiểm tra tại lịch sử giao dịch !!");
                        //setTimeout(function () {
                        //    window.history.back();
                        //}, 1000);
                    }
                    else if (res == -1) {
                        toastr["warning"]("Đăng nhập để sử dụng tính năng này !!");
                    }
                },
                error: function () {

                },
                complete: function () {

                }
            })
        })
    </script>
}