@model ShopGame.Service.Model.UserModel
@{
    ViewData["Title"] = "Nạp thẻ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var data = ViewBag.ListData;
}
@section Scripts{
    <script src="~/client/js/NaptheScript.js"></script>
}
<section id="nap-the" class="pt-2 pb-5">
    <div class="container bg-container pb-3">
        <div class="row">
            <partial name="_Menuleft" />
            <div class="col-lg-9">
                <div class="text-light ">
                    <h2 class="pb-3 mt-4">NẠP THẺ</h2>
                    <div class="c-line-left c-theme-bg"></div>
                    <p class="text-center">
                        ID của bạn: @Model.Id
                    </p>
                    <p class="text-center text-danger">
                        *Chú ý: Nạp thẻ sai mệnh giá mất 100% giá trị thẻ
                    </p>
                </div>
                <div class="form-nap-the">
                    <form action="" class="form-input form-horizontal form-charge text-md-right">
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Tài khoản: </label>
                            <div class="col-md-6">
                                <input class="form-control" type="text" value="@Model.UserName" disabled readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Loại thẻ: </label>
                            <div class="col-md-6">
                                <select class="form-control  c-square c-theme" name="NCCId" id="NCC">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Mệnh giá: </label>
                            <div class="col-md-6">
                                <select class="form-control  c-square c-theme"  name="ValueId" id="GiaTriThe"
                                        required="">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Mã số thẻ: </label>
                            <div class="col-md-6">
                                <input class="form-control" name="Code" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Số serial: </label>
                            <div class="col-md-6">
                                <input class="form-control" name="Seri" type="text" value="">
                            </div>
                        </div>
                        @*<div class="form-group row">
                                <label class="col-md-3 control-label">Mã bảo vệ: </label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Mã bảo vệ" type="text" value="">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">271</span>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-group row pt-md-3">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-6">
                                <button type="button" class="form-control btn btn-info btn-charge">Nạp thẻ</button>
                            </div>
                        </div>
                    </form>
                </div>

                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Thời gian</th>
                            <th scope="col">Nhà mạng</th>
                            <th scope="col">Mã thẻ</th>
                            <th scope="col">Serial</th>
                            @*<th scope="col">Kiểu nạp</th>*@
                            <th scope="col">Mệnh giá</th>
                            <th scope="col">Kết quả</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in data)
                        {
                            
                        <tr>
                            <td>@item.CreatedDate.ToString("dd/MM/yyy")</td>
                            <td>@item.TenNCC</td>
                            <td>@item.MaThe</td>
                            <td>@item.Serial</td>
                            @*<td>@item.KieuNap</td>*@
                            <td>@item.Value.ToString(" 000,0") <sup>đ</sup></td>
                            @if (@item.Status == 1)
                            {
                                <td>Thành công</td>
                            }@if (@item.Status == 100)
                            {
                                <td>Thất bại</td>
                            }@if (@item.Status == 99)
                            {
                                <td>Đang chờ</td>
                            }@if (@item.Status == 2)
                            {
                                <td>Thành công sai mệnh giá</td>
                            }@if (@item.Status == 3)
                            {
                                <td>Thẻ lỗi</td>
                            }@if (@item.Status == 4)
                            {
                                <td>Hệ thống bảo trì</td>
                            }
                        </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
