@using NidasShoes.Service.Model
@{
    ViewData["Title"] = "Trang chủ";
}
@{
    var slides = (NidasShoesResultModel<SlideModel>)ViewBag.Slides;
    var products = (NidasShoesResultModel<ProductModel>)ViewBag.Products;

    var dataShop = (ShopModel)ViewBag.Shop;
}
<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            @foreach (var item in slides.Results)
            {
                @if (item.Status == true)
                {
                    <li style="background-image: url(@item.Image);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 offset-sm-3 text-center slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            @*<h1 class="head-1">Men's</h1>
                                                <h2 class="head-2">Shoes</h2>*@
                                            <h2 class="head-3">@item.Title</h2>
                                            @*<p class="category"><span>New trending shoes</span></p>*@
                                            <p><a href="@item.Link" class="btn btn-primary">Mua ngay</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</aside>
<div class="colorlib-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="intro">@dataShop.Slogan</h2>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="featured">
                    <a href="#" class="featured-img" style="background-image: url(/images/men.jpg);"></a>
                    <div class="desc">
                        <h2><a href="#">Bộ sưu tập dành cho nam giới</a></h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="featured">
                    <a href="#" class="featured-img" style="background-image: url(/images/women.jpg);"></a>
                    <div class="desc">
                        <h2><a href="#">Bộ sưu tập dành cho nữ giới</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                <h2>BÁN CHẠY NHẤT</h2>
            </div>
        </div>
        @* products *@
        <div class="row row-pb-md">
            @foreach (var item in products.Results.Take(15))
            {
                @if (item.ExportPrice != 0)
                {
                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="Product/Detail?id=@item.ID" class="prod-img">
                                <img src="@item.Image" class="img-fluid" alt="@item.Title">
                            </a>
                            <div class="desc">
                                <h2><a href="Product/Detail?id=@item.ID">@item.Name</a></h2>
                                <span class="price">@item.ExportPrice.ToString(" 000,0") <sup>đ</sup></span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p><a href="/product" class="btn btn-primary btn-lg">Xem toàn bộ sản phẩm</a></p>
            </div>
        </div>
    </div>
</div>

