@model NidasShoes.Service.Model.ViewModel.ReceiptDetailPrintToPfdViewModel
@{
     Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmins.cshtml";
}
<style>
     ol.breadcrumb.float-sm-right {
    display: none;
    }
    .main-footer{
        display:none;
    }
    .main-sidebar{
        display:none;
    }
</style>
<div class="header-bill text-center ">
    <h1>NIDADS SHOES</h1>
    <h3>Hóa Đơn phiếu nhập kho</h3>
</div>

<div class="data-table">
    <table id="infoReceipt" class="table table-stri ped table-bordered text-left table-hover" style="background:#fff;">
        <thead>
            <tr>
                <th>Mã đơn nhập hàng</th>
                <th>Người lập đơn</th>
                <th>Ngày lập</th>
                <th>Nhà cung cấp</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.receiptModel.ID</td>
                <td>@Model.receiptModel.UserName</td>
                <td>@Model.receiptModel.CreatedDate.ToString("dd/MM/yyy")</td>
                <td>@Model.receiptModel.SupplyName</td>
                <td>@Model.receiptModel.Note</td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>



<div class="data-table">
    <table id="myTable" class="table table-striped table-bordered text-left table-hover" style="background:#fff;">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Mã màu</th>
                <th>Mã size</th>
                <th>Số lượng</th>
                <th>Giá tiền nhập</th>
                <th>Tổng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.lstReceiptDetailModel)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ColorName</td>
                    <td>@item.SizeName</td>
                    <td>@item.ImportQuantity</td>
                    <td>@item.ImportPrice.ToString("0,000")</td>
                    <td>@((item.ImportPrice*item.ImportQuantity).ToString("0,000"))</td>
                </tr>
            }
        </tbody>

        <tfoot>
        </tfoot>
    </table>
</div>
<div class="sign-bill text-right">
   <p>Hà nội, Ngày...,Tháng...,Năm 20...</p>
   <h4 class="text-bold"> Người lập phiếu</h4>
   <br />
   <br />
   <br />
   <br />
</div>

<div class="footer-bill text-center ">
   @*<h3> Chúc quý khách vui vẻ hẹn gặp lại</h3>*@
</div>